.mainContainer {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: black;
    padding-top: 80px;
}

.notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.notFound h2 {
    color: red;
}

.content {
    width: 90%;
    display: flex;
    background-color: white;
    border-radius: 10px;
    border-left: solid 7px red;
    flex-direction: column;
}

.titleBox {
    margin: 30px;
}

.titulo {
    color: black;
    position: relative;
    display: inline-block;
}

.titulo::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 50%;
    height: 5px;
    background-color: red;
}

.title {
    width: 69%;
    display: flex;
}

.title h3 {
    margin-left: 194px;
}

.grid_container {
    margin: 20px;
}

.boxBrand {
    display: flex;
    align-items: center;
    width: 100%;
}

.boxData {
    margin-top: 4px;
}

.boxBrand button {
    margin-left: 75px;
    border: none;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
}

.containerInfos {
    display: flex;
    margin: 30px;
}

.imageProduct {
    margin-right: 25px;
}

.gridContainerProduct {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.boxCategory {
    width: 23%;
}

.selectImput {
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    border: solid 2px red;
    margin-top: 15px;
    margin-bottom: 15px;
}

.notFoundCategs {
    font-size: 14px;
    color: red;
}

.categoryStrong {
    display: flex;
    margin-bottom: 10px;
}

.categs {
    margin-bottom: 4px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.position {
    display: flex;
    margin-bottom: 5px;
    font-size: 14px;
}

.buttonProduto {
    border: none;
    background-color: red;
    color: white;
    padding: 6px;
    font-weight: 600;
    border-radius: 5px;
    width: 50%;
    cursor: pointer;
    margin-bottom: 15px;
}

.buttonPrices {
    border: none;
    background-color: green;
    color: white;
    padding: 6px;
    font-weight: 600;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 15px;
}

.box span {
    color: red;
}

.box strong span {
    padding-bottom: 3px;
}

.addCategoryButton {
    border: none;
    background-color: rgb(14, 171, 14);
    padding: 6px;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
}

.divisorBox {
    width: 100%;
    margin-bottom: 35px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.divisorBox hr {
    width: 20%;
    height: 2px;
    border: none;
    background-color: red;
}

.media {
    color: red;
}

.buttonComparative {
    border: none;
    background-color: green;
    color: white;
    padding: 6px;
    font-weight: 600;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 15px;
}

.searchProduto {
    border: none;
    background-color: gray;
    color: white;
    padding: 6px;
    font-weight: 600;
    border-radius: 5px;
    width: 50%;
    cursor: pointer;
    margin-bottom: 15px;
}