.containerContent {
    justify-content: center;
    align-items: center;
    border-radius: 3%;
    z-index: 9999999999999;
}

.containerButton {
    display: flex;
    justify-content: center;
    margin-top: 26px;
    flex-direction: column;
}

.containerButton label {
    color: white;
    margin-bottom: 15px;
}

.containerContent h2 {
    color: white;
    margin-top: 17px;
}

.containerContent h3 {
    color: white;
    margin-top: 17px;
    margin-bottom: 15px;
}