.toggleButton {
    background-color: #ccc;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.active {
    background-color: green;
}

.inactive {
    background-color: red;
}