/* --- PAGINA DE LOADING --- */

.loading_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading_spinner {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid red;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* --- PAGINA 404 --- */

.error_container {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.error_container h1 {
  font-size: 5em;
  color: white;
  margin-bottom: 10px;
}

.error_container p {
  font-size: 1.5em;
  color: #666;
  margin-bottom: 20px;
}

.error_container a {
  font-size: 1.2em;
  color: red;
  text-decoration: none;
}

.error_container a:hover {
  text-decoration: underline;
}

.error_container img {
  width: 27%;
  height: 17%;
  margin-bottom: 20px;
}

@media (max-width: 780px) {
  .error_container img {
    width: 30%;
    height: 20%;
  }
}

@media (max-width: 600px) {
  .error_container img {
    width: 40%;
    height: 28%;
  }
}
