.containerContent {
    justify-content: center;
    align-items: center;
    border-radius: 3%;
    z-index: 9999999999999;
}

.mainContainer h1 {
    color: white;
    margin-top: 20px;
}

.containerButton {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 26px;
}

.containerButton select {
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
    width: 70%;
}

.containerButton h3 {
    color: white;
}

.containerButton button {
    background-color: green;
    color: white;
    font-weight: 800;
    padding: 10px;
    margin: 13px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.boxCategs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}